#vim set ft=jinja.nginx:

server {
    listen 80;
    server_name {{ nginx_server_name }};

    access_log /var/log/nginx/{{ nginx_server_name }}.log custom_log_format;

    location / {
        root /var/www;
    }
    listen [::]:{{ nginx_server_port | default(80) }};
    listen {{ nginx_listen_ssl_port | default(443)}} ssl; # managed by Certbot

    ssl_certificate /etc/letsencrypt/live/{{ nginx_server_name }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx_server_name }}/privkey.pem; # managed by Certbot

    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    limit_rate 8m;

    location {{ test_location }}/ {
        add_header Accept-Ranges bytes;
        root /var/www;

        secure_link $arg_md5,$arg_expires;
        secure_link_md5 "$secure_link_expires$uri {{ nginx_url_secret }}";

        if ($secure_link = "") {
            return 403;
        }

        if ($secure_link = "0") {
            return 410;
        }

        mp4;
    }
}
